.contact-item{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 30%;
    padding: 1rem;
    justify-content: center;
}
.contact-item:nth-child(4){
    flex: 100%;
}
.contact-section form button{
    padding:1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: blue;
    background: yellow;
    cursor: pointer;
}

.contact-item:nth-child(4) textarea{
    padding: 1rem;
    flex: 100%;
    line-height: 1.4rem;
    height: 5rem;
}
.contact-input{
    font-size: 1rem;
    line-height: 2.5rem;
    padding: 0rem 1rem;
    border-radius: 10px;
    border:none;
    background-color: yellow;
    color: blue;
    font-weight: bold;
}
.contact-icon{
    padding: 0.5rem;
    background-color: yellow;
    border-radius: 50%;
    margin-right: 0.5rem;
    color: blue;
}

.contact-section h2{
    text-align: center;
    padding: 1rem;
    font-family: Teko;
    font-size: 2.5rem;
    color: yellow;
    display: block;
}
.contact-section{
    background: linear-gradient(33deg, rgb(17, 0, 168) 33%, rgb(76, 0, 252) 50%, rgba(76, 0, 252,1) 50%);
    padding: 2.5% 10%;

}

.contact-section form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}