.countdown-col{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}
.countdown-count{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background: var(--background-box-color);
    padding: 1em;
    color: white;
    border: 2px solid yellow;
    margin: 0em 0em 0.2em 0em;
}
.countdown-item{
    background: var(--background-box-color);
    border: 2px solid yellow;
    padding: 0.5em;
}

.colons{
    font-weight: bold;
    font-size: 2em;
}

.countdown-section{
    margin: 3rem 3rem;
    width: 100%;
}