@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.hero--section{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 60vh;
    padding-bottom: 4rem;
    color: white;
    background: url("../images/12861.jpg");

}
.hero-img{
    filter: drop-shadow(10px 10px 10px black);
}

.hero-maintext{
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 2px 6px 19px rgba(0, 0, 0, 1);
}
.hero-textimg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 6px 19px rgba(0, 0, 0, 1);

}
.hero-undertext{
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 6px 19px rgba(0, 0, 0, 1);
}
.hero-applybutton{
    padding: 1em 0em 0em 0em;
}
.hero-applybutton button{
    padding: 1em;
    font-weight: bold;
    background-color: yellow;
    border: none;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.hero-applybutton button:hover span:first-child{
    transition: all 500ms ease;
    color: blue;
    rotate: 360deg;
}
