.nav--items ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 1em;
}
.nav--items ul a{
    text-decoration: none;
}
.nav--items ul a li{
    padding: 1em 1.5em;
    color: white;
    font-family: Roboto;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 300ms ease;
}
.nav--items ul a li:hover{
    border-bottom: 2px solid yellow;
}
.nav--items ul a:last-child li{
    background: yellow;
    color: black;
    border-radius: 15px;
    font-weight: bold;
    
}
.navbar{ 
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
    height: 5em;
    align-items: center;
    background: linear-gradient(45deg, rgb(9, 9, 85) 33%, rgba(0, 0, 88, 1), rgba(13, 0, 133, 1));
    border-bottom: 2px solid yellow;
    z-index: 10;
}
.nav--logo{
    display: flex;
    align-items: center;
}